@import url(filds/index.css);

form {
    margin-top: 3rem;
}

fieldset {
    border: none;

    display: grid;
    gap: 1.5rem;
}


.back {
    display: flex;
    gap: .125rem;
}


legend {
    font: 600 1rem/1.25rem var(--font-family);
    margin-bottom: 1.5rem;
}

fieldset + fieldset {
    margin-top: 3rem;
}

.addrees .flex {
    gap: 1.25rem;
}

.input-wrapper:has([disabled]) {
    opacity: .5;
}

input {
    &[disabled] {
        background-color: var(--surface-disabled);

        border: 1px solid var(--stroke-default);

        color: var(--text-primary);
    }

    &:invalid {
        border: 0.125rem solid var(--semantic-error);
    }

    & + small {
        font: var(--text-sm);
        color: #78716c;

        display: inline-block;
        margin-top: .25rem;
    }

    &[required] + .error {
        display: flex;
        gap: .25rem;
        align-items: center;
        font: var(--text-sm);
        color: var(--semantic-error);
        margin-top: .25rem;
    }

    &:valid + .error {
        display: none;
    }
}

.action-wrapper {
    display: flex;
    margin-top: 3rem;
    gap: 1rem;
}